body {
    background-color: blueviolet;
    margin: 0px;
    overflow-y: auto;
    overflow-x: auto;

}

canvas {
    background-color: whitesmoke;
    cursor: crosshair;
    user-select: none;
    position: absolute;
    top: 50px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 1;
}

#buttons {
    display: flex;
    flex-direction: row;
}

.tool {
    width: 50px;
    height: 50px;
    padding: 0px 0px 0px 0px;
    -webkit-border-radius: 0px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 0;
    border-width: 3px;

}


.tool:hover {
    background-color: bisque;
    border-color: purple;
}


#colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    width: 200px;
    right: 0px;
    top: 0px;

}

.color {
    width: 25px;
    height: 25px;
    border-width: 1px;
    border-radius: 0px;

}

#upload-interface {
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}