body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    overflow-y: auto;
    overflow-x: auto;

}

:root {
    --buttonwidth: 400px;
    --colorwidth: 200px;
    --currentcolwidth: 50px;
    --topbarheight: 50px;
}

#mcanv {
    background-color: white;
    cursor: crosshair;
    user-select: none;
    position: absolute;
    top: var(--topbarheight);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 1;
}

#buttons {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    width: var(--buttonwidth);
}

#cool-gradient {
    position: fixed;
    cursor: url("images/color-cursor.png") 8 8, crosshair;
    top: 0px;
    width: calc(100% - var(--buttonwidth) - var(--colorwidth) - var(--currentcolwidth));
    height: var(--topbarheight);
    left: var(--buttonwidth);
    z-index: 2;
    border-width: 2px;
    border-color: black;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 255));
}



.tool {
    width: 50px;
    height: var(--topbarheight);
    padding: 0px 0px 0px 0px;
    -webkit-border-radius: 0px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 0;
    border-width: 3px;
    border-color: black;

}


.tool:hover {
    background-color: gray;
    border-color: orange;
}


#colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    width: var(--colorwidth);
    right: 0px;
    top: 0px;
    z-index: 2;
}

#current-color {
    position: fixed;
    width: var(--currentcolwidth);
    height: var(--topbarheight);
    right: 200px;
    top: 0px;
    z-index: 3;
    background-color: black;
    border-color: black;
    border-width: 2px;
    border-radius: 0px;
}


.sub-menu {
    display: flex;
    border-width: 5px;
    border-color: black;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    width: 40px;
    height: 20%;
    right: 0px;
    top: 40%;
    z-index: 2;
}

.sub-tool {
    width: 100%;
    height: 25%;
    padding: 0px 0px 0px 0px;
    -webkit-border-radius: 0px;
    border-radius: 0;
    border-width: 3px;
    border-color: black;
}

.color {
    width: 12.5%;
    height: calc(var(--topbarheight) / 2);
    border-width: 1px;
    border-radius: 0px;
}

.color:hover {
    border-width: 2px;
    border-radius: 0px;
    border-color: orange;
}

#current-color:hover {
    border-width: 2px;
    border-radius: 0px;
    border-color: orange;
}

.upload {
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
}